{% extends 'base.html' %}
{% block title %}错误{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% block head_extends %}

{% endblock %}

{# 页面内容 #}
{% block content %}
     <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <label for="id_username">账号</label>
                            <input type="text" required placeholder="用户名" name="username" class="form-control"><br>
                            <label for="id_password">密码</label>
                            <input type="password" required placeholder="密码" name="password" class="form-control">
                            <input type="submit" value="登录" class="btn btn-primary pull-right">
                            <span class="pull-left text-danger error">
                                {% for k,v in login_form.errors.items %}
                                    <span class="pull-left text-danger error">{{ v }}</span>
                                {% endfor %}
                            </span><br>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}