{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block nav_blog_active %}active{% endblock %}<!-- bootstrip提供的选中状态 -->

{% load staticfiles %}
{% block head_extends %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-xs-10">				
			    <h3>{{ blog.title }}</h3>
			    <ul class="blog-info-description">
			    	<li>作者：{{ blog.author }}</li>
			    	{# 带有|叫过滤器：时间 #} 
			    	<li>创建时间为：{{ blog.created_time|date:"Y-m-d" }}</li>
			    	<li>类型：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>阅读({{ blog.get_read_num }})</li>
			    </ul>  
			    <div class="blog-content">{{ blog.content|safe }}</div>
                <div class="blog-more">
                    <p>
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                    <p>
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-offset-1 col-xs-10">
                <div class="comment-area">
                    <h3 class="comment-area-title">评论区</h3>
                    {% if user.is_authenticated %} {# 如果登录 #}
                        {# 评论 #}
                        <form action="{% url 'update_comment' %}" method="post" style="overflow: hidden;">
                            {% csrf_token %}
                             <div class="form-group">
                                 <label for="comment-text">{{ user.username }},欢迎评论</label>
                                <textarea id="comment-text" class="form-control" name="text" rows="4"></textarea>
                                 <p>{{ msg }}</p>
                              </div>
                            {# 把当前的类型（模型的小写）和id传给后端的Content #}
                            <input type="hidden" name="content_type" value="blog1">
                            <input type="hidden" name="object_id" value="{{ blog.pk }}">
                            <input class="btn btn-primary" type="submit"  value="评论" style="float: right;">
                        </form>
                    {% else %} {# 如果没有登录 #}
                        您尚未登录
                        <a class="btn btn-primary"  href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>or</span>
                        <a class="btn btn-danger"  href="{% url 'registered' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表 </h3>
                    {% for comment in comments%}
                        <div>
                            {{ comment.comment_user }}（{{ comment.comment_time }}）：
                            {{ comment.context }}
                        </div>
                    {% empty %}
                        <p>暂无评论</p>
                    {% endfor %}
                </div>
            </div>
        </div>
	</div>
{% endblock %}
