{% extends 'base.html' %}
{% block title %}我的博客{% endblock %}
{% block nav_blog_active %}active{% endblock %}{# 选中状态 #}

{% load staticfiles %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">博客列表（一共有{{ blogs|length }}篇博客）</div>
                    <div class="panel-body">
                        {% for blog in blogs %}{# 遍历所有的博客 #}
                            <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                            <p>{{ blog.content|truncatechars_html:120 }}</p>
                            <p>分类：
                                {{ blog.blog_type }}
                            </p>
                            {# 如果没有博客 #}
                            {% empty %}
                            <h3>-- 暂无博客，敬请期待 --</h3>
                        {% endfor %}
                        <p style="font-size:12px;">一共有{{ blogs|length }}篇博客</p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                     <div class="panel-body">
                            <ul class="blog-types">
                                {% for blog_type in blog_types %}
                                    <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a></li>
                                {% empty %}
                                <li>暂无分类，敬请期待！</li>
                                {% endfor %}
                            </ul>
                     </div>
                      </div>
            </div>
        </div>
    </div>
{% endblock %}
