{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ blog.title }}{% endblock %}
{% block nav-blog-active %}active{% endblock %}
{% block head_extend %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog_detail.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-md-offset-1">
				<h3>{{ blog.title }}</h3>
				<!-- 博客的描述 -->
				<ul class="blog-info-description">					
					<li>发表时间：{{ blog.created_time|date:"Y-m-d" }}</li>
					<li>作者：{{ blog.author }}</li>
                    <li>({{ blog.get_read_num }})</li>
				</ul>
				<p class="blog-content">{{ blog.content|safe }}</p>
                <div class="blog-more">
                    <p>
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">上一篇：{{ previous_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                    <p>
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">下一篇：{{ next_blog }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
			</div>		
		</div>
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                <label for="">{{ user.username }}，欢迎你</label>
                    {# 如果登录 #}
                    {% if user.is_authenticated %}
                        <form id="comment-form" action="{% url 'update_comment' %}" method="post" style="overflow: hidden;">
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            {# 错误信息 #}
                            <span id="comment-error" class="btn-danger pull-left"></span>
                            <input type="submit" value="提交评论" class="btn btn-primary" style="float: right;">
{#                             评论框 #}
{#                            <div class="form-group">#}
{#                                 label：标签，和textarea、input关联#}
{#                                <label for="comment-text">{{ user.username }}，欢迎评论</label>#}
{#                                <textarea name="text" id="comment-text" class="form-control" rows="4"></textarea>#}
{#                                <p>{{ mag }}</p>#}
{#                            </div>#}
{#                             什么类型(博客)#}
{#                            <input type="hidden" name="content_type" value="blog">#}
{#                             类型的主键#}
{#                            <input type="hidden" name="object_id" value="{{ blog.pk }}">#}
{#                            <input type="submit" value="提交评论" class="btn btn-primary" style="float: right;">#}
                        </form>
                     {# 如果没登录 #}
                     {% else %}
                        您尚未未登录，登录后方可评论，
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>or</span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    <div id="comment-list">
                        {% for comment in comments %}
                            <div>
                                {{ comment.user.username }}（{{ comment.comment_time|date:"Y-m-d H:i:s" }}）
                                :{{ comment.context|safe }}
                            </div>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
	</div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        {# 找到id为comment-form的submit方法 #}
        $("#comment-form").submit(function () {
            $('#comment-error').text('');//去除错误信息
            //如果用户输入很多个空格，我们去掉全部空格，返回一个错误（.trim()把全部空格变成""）
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim() == ""){
                $('#comment-error').text('评论内容不能为空啊');
                return false;//错误则不执行下面的代码
            }

            //更新数据到富文本编辑textarea,不加这个提交了数据会报错
            CKEDITOR.instances['id_text'].updateElement();
            //去掉评论了还保留的字
            CKEDITOR.instances['id_text'].setData('');
            //异步提交
            $.ajax({
                cache: false,//不需要缓存,因为提交时同一个网址
                url: "{% url 'update_comment' %}",//数据传给哪个url的views处理
                type: 'POST',
                data: $("#comment-form").serialize(),//$(this).serialize(),数据提交到后台
                //如果提交成功,才执行success
                success: function (data) {//参数data：返回提交后的页面(return redirect(referer))
                    console.log(data);//打印出data
                    //把data传递给评论列表
                    if(data['status']=="SUCCESS"){
                        var comment_html = '<div>' + data['username'] + '('+ data['comment_time'] + ')'+
                                            data['text'] + '</div>';
                        $('#comment-list').prepend(comment_html);
                    }
                    //如果异常,把错误信息传递给#comment-error
                    else{
                        $('#comment-error').text(data['message']);
                    }
                },
                //如果发生错误
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;{# 阻止点击submit提交评论 #}
        });
    </script>
{% endblock %}
