{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}田敏伦的博客{% endblock %}
{% block head_extend %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog_list.css' %}">
{% endblock %}
{% block nav-blog-active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- 博客 -->          
            <div class="col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block blog_list_title %}
                            <a href="{% url 'blog_list' %}">
                                博客列表
                            </a>
                        {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <div class="blog-title">
                                    <a href="{% url 'blog_detail' blog.pk %}" target="_block_">{{ blog.title }}</a>
                                </div>
                                <p>{{ blog.content|truncatechars_html:30 }}</p>
                                <div class="blog-tags">
                                    <ul>
                                        <li><span class="glyphicon glyphicon-time"></span>
                                        {{ blog.created_time|date:"Y-m-H" }}</li>
                                        <li>
                                            <span class="glyphicon glyphicon-tags"></span>
                                            <a href="{% url 'blog_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>

                                        </li>
                                        
                                    </ul>
                                </div>                         
                            </div>                          
                        {% empty %}
                            <p>--暂无博客，敬请期待！--</p>
                        {% endfor %}
                    </div>
                </div>
                <!-- 分页 -->
                <div class="paginator">
                    <ul class="pagination">
                        <!-- 上一页 -->
                        <li>
                            {% if page_of_blogs.has_previous %}
                                  {# previous_page_number:前一页的页码 #}
                                  <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>                               
                            {% else %}
                            <!-- 如果没有上一页，用户就只能点击这个(&laquo;)图案 -->
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        <!-- 页码 -->
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}{# 如果是点击状态不转跳 #}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {# 如果页码为...不转跳，（...也是页码） #}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- 下一页 -->
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <div>
                        一共有{{ blogs|length }}篇博客，当前第{{ page_of_blogs.number }}页，
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </div>
                </div>
            </div>

            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <!-- 分类 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'blog_list' %}">
                            博客类型
                        </a>
                    </div>
                    <div class="panel-body">
                        <ul class="blog_type">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blog_type' blog_type.pk %}">
                                        {{ blog_type.type_name }}（{{ blog_type.type_count }}）
                                    </a>
                                </li>
                            {% empty %}
                                <p>--暂无分类，敬请期待！--</p>
                            {% endfor %}
                        </ul>                      
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'blog_list' %}">时间归档</a>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date,date_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blog_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:"Y年m月" }}（{{ date_count }}）
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
